<h1>Hello from index.html</h1>




<form action="/postClientData" method="POST">

    <input type="test" placeholder="give me your data"></input>

    <input type="text" id="userName"
    name="userName" value="default value"></input>

</form>




<%= myVariableClient %>

<% console.log("where am i?") %>

